<head>
<!-- YOUIEST LLC CONFIDENTIAL
	
	[2013] - [2014] Youiest LLC
	All Rights Reserved.
	NOTICE: All information contained herein is, and remains
	the property of Youiest LLC and its suppliers,
	if any. The intellectual and technical concepts contained
	herein are proprietary to Youiest LLC
	and its suppliers and may be covered by U.S. and Foreign Patents,
	patents in process, and are protected by trade secret or copyright law.
	Dissemination of this information or reproduction of this material
	is strictly forbidden unless prior written permission is obtained
	from Youiest LLC. -->
	<meta name="description" content="Tapmate is an Instagram TM guessing game. How well do your friends know you?  Find out with this new game!  In Tapmate you guess reactions to fashions, memes, celebrities or whatever else you "like" on Instagram.">
<link rel="stylesheet" type="text/css" href="/semantic/css/semantic.css">
<style> 
i.icon {
	font-size: 20em;
}
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script  type="text/javascript">
	function directToAppStore(){
		//setTimeout(function(){
			window.location.href = "https://itunes.apple.com/us/app/tapmate/id774935608";
		//},1000);
	}
	function directToPlayStore(){
		//setTimeout(function(){
			window.location.href = "https://play.google.com/store/apps/details?id=com.youiest.tapmatrix";
		//},1000);
	}
	function directToBlackberry(){
		//setTimeout(function(){
			// coming soon
			window.location.href = "https://play.google.com/store/apps/details?id=com.youiest.tapmatrix";
		//},1000);
	}
	function directToWindows(){
		//setTimeout(function(){
			// coming soon
			window.location.href = "https://play.google.com/store/apps/details?id=com.youiest.tapmatrix";
		//},1000);
	}
	$(document).ready(function(){
		var ua = navigator.userAgent.toLowerCase();
		var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
		if(isAndroid) {
			$("body").append('<div class="column"><i class="android icon"></i></div>');
			directToPlayStore();
			return;
		}

		if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
			if (document.cookie.indexOf("iphone_redirect=false") == -1) {
				$("body").append('<div class="column"><i class="apple icon"></i></div>');
				directToAppStore();	
				return;
			}
		}

		if((navigator.userAgent.match("BlackBerry")) || (navigator.userAgent.match("BB10"))) {
			if (document.cookie.indexOf("iphone_redirect=false") == -1) {
				$("body").append('<div class="column"><i class="apple icon"></i></div>');
				directToBlackberry();	
				return;
			}
		}

		if((navigator.userAgent.match("Windows Phone")) || (navigator.userAgent.match("IEMobile"))) {
			if (document.cookie.indexOf("iphone_redirect=false") == -1) {
				$("body").append('<div class="column"><i class="apple icon"></i></div>');
				directToWindows();	
				return;
			}
		}

		$("body").append('<div class="column"><i class="android icon"></i></div>');
		$("body").append('<div class="column"><i class="apple icon"></i></div>');
		$("body").append('<div class="column"><i class="bitcoin icon"></i></div>');
		$("body").append('<div class="column"><i class="windows icon"></i></div>');
		$(".android").bind("click",directToPlayStore);
		$(".apple").bind("click",directToAppStore);
	})
</script>
</head>
<body> 
</body>