#pinLocal {
        font-size: 3em;
        width: 1em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        position: relative;
        color: white;        
        margin-left: auto;
        margin-right: auto;
        transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
}
.rankImg{
    display: none;
    background: white !important;
}
.dragaAndImg{
    position: absolute !important;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;

}
.pinLocal {
        content: '';
        display: none;
        /*position: absolute;*/
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #30CBF1;
        transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
        border-radius: 50% 50% 0 50%;
        width: 3em;
        height: 3em;
        line-height: 4em;
        text-align: center;
        position: relative;
        color: white;        
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 2em;
}
#tapTapEnded2{
        display: none;
}
#clickEvent2{
    position: relative;
    /*height: 100%;*/
    width: 100%;
}
#famousSquare2{
    padding-left: 0!important;
    padding-right: 0 !important;
}
#clickEvent2{
    padding-left: 0!important;
    padding-right: 0 !important;
    background-color: white;
    width: 100%;
    /*left: -2.5%;*/
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    -o-filter: blur(4px);
}
.barHorizontal{
    position: absolute;
    bottom: 5%;
    left: 10px;
    width: 5px;
    height: 90%;
    background: red;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;

}
.barVertical{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    height: 5px;
    background: red;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;

}
.imageContainer{

}
.overlayRank{
        position: absolute;
        width: 104%;
        height: 100%;
        z-index: 21;
        top:0%;
        left: -2%;
        background-color: rgba(0,0,0,0.5);
}