.ui.inverted.menu{
	background-color: #FF5F0F!important
}

.trinisoftFooter{
  font-size: 15px !important;
}

.animate{
  -webkit-animation: loader .6s linear;
  animation: loader .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.ui.scale.down.sidebar{
  display: none;
}
.ui.visible.scale.down.sidebar{
  display: block;
}
a#profile{
	float: right;
	margin-right:30px; 
}
