#pin {
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
}

.pin {
    content: '';
    display: none;
    /*position: absolute;*/
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #30CBF1;
    transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    border-radius: 50% 50% 0 50%;
    width: 3em;
    height: 3em;
    line-height: 4em;
    text-align: center;
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

#tapTapEnded {
    display: none;
}

#onScore {
    display: none;
    top: 280px;
}

#rating {
    top: 50%;
    left: 4%;
    position: fixed;
    z-index: 30;
    background: #f2f2f2;
    height: auto;
    width: 92%;
    border-color: #535353;
    border: 3px;
    border-style: solid;
    display: none;
    padding: 10px;
}

#rateDecline, #rateAccept {
    margin-bottom: 0px;
    width: 49%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#shareWithFacebook {
    float: right;
    top: 15px;
}