.Challange label {
    display: block;
}

#inviteFriends {
    display: block;
}

.lastScore label {
    display: block;
}

.lastResult {
    padding-left: 10% !important;
}

tr {
    background: white;
    text-align: center;
}

td {
    border: 0;
    text-align: center !important;
}

.welcome label {
    padding: 0px !important;
}

ul.off-canvas-list li label {
    background: transparent !important;
    color: black !important;
    border: 0px !important;
}

.grey:hover {
    background-color: white;
    color: grey;
}

ul.off-canvas-list li :hover {
    background: none !important;
}

.black:hover {
    background-color: grey !important;
    color: cyan !important;
}

.sfef {
    background-color: grey !important;
    color: white !important;
}

.sfef:hover {
    background-color: white !important;
    color: grey !important;
}

.stef {
    background-color: grey !important;
    color: white !important;
}

.stef:hover {
    background-color: white !important;
    color: grey !important;
}

.stet {
    background-color: cyan !important;
    color: white !important;
}

.stet:hover {
    background-color: white !important;
    color: cyan !important;
}
