.Challange label{
	display: none;
}
#inviteFriends{
	display: none;
}
.lastScore label{
	display: none;
}
.lastResult{
	padding-left: 10% !important;
}
.grey{
	background-color: grey;
	color: white;
}
.black{
	background-color: cyan !important;
	color: grey !important;
}
tr{
	background: white;
	text-align: center;
}
td{
	border: 0;
	text-align: center !important;
}
.welcome label{
	padding: 0px !important;
}
ul.off-canvas-list li label{
	background: transparent !important;
	color: black !important;
	border: 0px !important;
}
ul.off-canvas-list li :hover{
	background: transparent !important;
	/*color: white !important;*/
	/*border: 0px !important;*/
}
