#carousel{
    /*width : 275px;*/
    /*height: 275px;*/
    position: relative;
    overflow: hidden;
}
.blue{
    background-color: blue;
}
.th.image{
    position: relative;
    float: left;
    height: 25%;
    width: 25%;
}
#clickEvent img{
    position: relative;
    float: left;
    height: 25%;
    width: 25%;
}
#clickEvent{
    position: relative;
    height: 100%;
    width: 100%;
}
.green-bg{
	background-color: green;
}
.red-bg{
	background-color: red;
}
.blue-bg{
	background-color: blue;
}