#carousel{
    width : 275px;
    height: 275px;
    position: relative;
    overflow: hidden;
}
.blue{
    background-color: blue;
}
.th.image{
    position: relative;
    float: left;
    height: 25%;
    width: 25%;
}