/* CSS declarations go here */
 a:link, a:visited, a:hover, a:active, a:focus {
   text-decoration: none !important;
    color: black !important;
    background-color: none;
}
.whiteText{
    color: white !important;
}

.famous-container{
	/*position: relative !important;*/
}
.famous-root {
	/*overflow-x: hidden !important;*/
	/*overflow-y: scroll !important; */
    /*-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;*/
}
.textRight{
	text-align: right;
}
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
.overlay .popups{
        position: relative;
        width: 95%;
        left: 2.5%;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
.overlay div{
        position: relative;
}
.overlay{
        position: absolute;
        width: 105%;
        height: 94%;
        z-index: 21;
        top:3%;
        left: -2.5%;
        background-color: rgba(0,0,0,0.5);
}
.height40{
    height: 40px;
}
.scrolly .panel{
    float: none;
    /*width: 105%;*/
    /*left: -2.5%;*/
}
.scrolly{
    height: 100% !important;
    -webkit-height: 100% !important;
    -webkit-overflow-scrolling: touch !important;
    -webkit-overflow-y: scroll!important;
    overflow-y: scroll!important;
    background-attachment: scroll;
    margin-bottom: 1.25rem;
}
.noPadding{
    padding: 0px;
}