.ui.four.cards > .card {
  width: calc( 25% - 0.5em );
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.ui.four.cards {
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 0em;
}
.ui.dimmer{
  margin-top: 54px;
}

.onStartGame{
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -42px !important;
  margin-top: -18px !important;
}