.loginForm{
	
}
#haveAnAcc{
	
	margin-top: 10px;
}
#loginButton{
	
	margin-top: 20px;
}

.loginPage .listItem{
	
}

.textCenter{
	text-align: center;
}
.loginPage input{
	
	padding-top:10px !important; 
}
